@media (prefers-color-scheme: dark) {
  body {
    background: #1c1c16;
    color: #889391;
  }

  #main {
    background-color: #005049;
    color: #72f7e9;
  }

  input,
  select,
  button {
    background-color: #3f4947;
    color: #bec9c6;
  }

  input:focus,
  select:focus,
  button:hover {
    background-color: #003732;
    color: #00a296;
  }

  #main img {
    filter: invert(6%) sepia(14%) saturate(100%) hue-rotate(22deg) brightness(7%) contrast(90%);
  }

  .row-focus {
    color: #e5e2d9;
  }

  label {
    color: #e5e2d9;
  }

  a,
  .grid-check label,
  .number-input label,
  .angle label {
    color: #889391;
  }

  a:hover {
    color: #bec9c6;
  }

  .t-note {
    color: #72f7e995;
  }

  .dates {
    border-bottom: 1px solid #e5e2d9;
    color: #e5e2d9;
  }

  #date-h,
  .help {
    color: #889391;
  }

  .geolocation {
    filter: invert(11%) sepia(16%) saturate(408%) hue-rotate(21deg) brightness(97%) contrast(100%);
  }

  .geolocation:hover {
    filter: invert(91%) sepia(12%) saturate(135%) hue-rotate(113deg) brightness(90%) contrast(83%);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: #fffcf3;
    color: #6f7977;
  }

  #main {
    background-color: #006a61;
    color: #fff;
  }

  input,
  select,
  button {
    background-color: #dae5e2;
    color: #3f4947;
  }

  input:focus,
  select:focus,
  button:hover {
    background-color: #006a61;
    color: #fff;
  }

  .row-focus {
    color: #1c1c16;
  }

  label {
    color: #1c1c16;
  }

  a,
  .grid-check label,
  .number-input label,
  .angle label {
    color: #6f7977;
  }

  a:hover {
    color: #3f4947;
  }

  .t-note {
    color: #ffffff95;
  }

  .dates {
    border-bottom: 1px solid #1c1c16;
    color: #1c1c16;
  }

  #date-h,
  .help {
    color: #6f7977;
  }

  .geolocation {
    filter: invert(48%) sepia(6%) saturate(398%) hue-rotate(118deg) brightness(94%) contrast(86%);
  }

  .geolocation:hover {
    filter: invert(7%) sepia(15%) saturate(733%) hue-rotate(22deg) brightness(93%) contrast(91%);
  }
}

html {
  font-family: 'Roboto Regular', sans-serif;
  src: url('./assets/Roboto-Regular.ttf');
  font-weight: 300;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  user-select: none;
}

a {
  text-decoration: none;
  font-style: italic;
}

a:hover {
  cursor: pointer;
}

.fs-medium {
  font-size: 12px;
}

.fs-large {
  font-size: 18px;
}

.visible {
  animation: fadein 1.5s linear;
  opacity: 1;
  visibility: visible;
}

.hidden {
  animation: fadeout 1.5s linear;
  display: none;
  opacity: 0;
  visibility: hidden;
}

@keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

#main {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  height: 180px;
  overflow: hidden;
  position: relative;
  transition: all 1s ease-in-out;
  width: 100%;
}

#main img {
  bottom: 0;
  position: absolute;
  width: 100%;
}

#main .header {
  z-index: 5;
}

#main .settings {
  height: 20px;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 20px;
  z-index: 2;
}

#main .content {
  height: 100px;
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  z-index: 5;
}

#nav-icon {
  cursor: pointer;
  height: 45px;
  margin-left: -20px;
  margin-top: -12px;
  position: relative;
  transform: rotate(0deg) scale(0.3);
  transition: 0.5s ease-in-out;
  width: 60px;
}

#nav-icon span {
  background: #fff;
  border-radius: 9px;
  display: block;
  height: 7px;
  left: 0;
  opacity: 1;
  position: absolute;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  width: 100%;
}

#nav-icon span:nth-child(1) {
  top: 0;
  transform-origin: left center;
}

#nav-icon span:nth-child(2) {
  top: 25px;
  transform-origin: left center;
}

#nav-icon.open span:nth-child(1) {
  left: 8px;
  top: -3px;
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(2) {
  left: 8px;
  top: 39px;
  transform: rotate(-45deg);
}

#clock {
  height: 20px;
  position: absolute;
  right: 10px;
  text-align: right;
  top: 10px;
  width: 60px;
}

.next-prayer {
  font-size: 48px;
  font-weight: bold;
}

#details {
  width: 100%;
  z-index: 5;
}

.dates {
  padding: 10px;
  text-align: center;
}

#date-h {
  font-style: italic;
}

.t-table {
  display: table;
  left: 50%;
  margin-top: 10px;
  position: absolute;
  transform: translateX(-50%);
}

.row {
  display: table-row;
}

.column {
  column-width: 100px;
  display: table-cell;
  padding: 6px;
}

.p-time {
  text-align: right;
}

#settings {
  height: 0;
  overflow: hidden;
  transition: all 1s ease-in-out;
  width: 100%;
  z-index: 5;
}

#settings .content {
  box-sizing: border-box;
  padding: 10px;
}

.grid {
  column-gap: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.grid-item-span {
  grid-column-start: 1;
  grid-column-end: 2;
  display: contents;
}

.form-item {
  box-sizing: border-box;
  min-height: 30px;
  padding-bottom: 10px;
}

.form-item::after {
  clear: both;
  content: "";
  display: block;
}

.angle {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px 0;
}

label {
  display: block;
  font-size: 14px;
  padding-bottom: 5px;
}

input,
select {
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  font-size: 16px;
  outline: none;
  padding: 10px;
}

input[type="text"][name="city"] {
  padding-right: 40px;
}

input[type="text"],
select {
  width: 100%;
}

input[type="number"] {
  width: 49%;
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}

.geolocation {
  background: url('./assets/ri-gps-line.svg') top no-repeat;
  background-size: cover;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  left: 44%;
  margin-top: -28px;
  position: absolute;
  vertical-align: middle;
  width: 20px;
}

.grid-check {
  column-gap: 15px;
  display: inline-grid;
  grid-template-columns: 20px auto;
}

.grid-check label {
  font-size: 16px;
  cursor: pointer;
}

.help {
  width: 100%;
}

.number-input {
  align-items: baseline;
  display: inline-flex;
  flex-direction: row;
  padding: 5px 0;
  justify-content: space-between;
  width: 49%;
}

button {
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  width: 49%;
}

button:hover {
  cursor: pointer;
}

.footer {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
}
